<div *ngIf="info.token; else loggedOut">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="..." class="d-block w-100" alt="..."> -->
        <Label class="message"><h3>Want add more book click >>> <a routerLink="/addbook"> here</a></h3></Label>
      </div>
      <div class="carousel-item">
        <Label class="message"><h3>Want list all books click >>> <a routerLink="/listallbooks"> here</a></h3></Label>
      </div>
    </div>
     </div>
    </div>
 
    <ng-template #loggedOut>
      Please login.
    </ng-template>